
{% extends 'base.html' %}
{% load django_bootstrap5 %}

{% block title %}
    Create a New User
{% endblock %}

{% block content %}
<h1>Create a New User</h1>
{% if form.non_field_errors %}
<div class="alert alert-danger" role="alert">
    {% for error in form.non_field_errors %}
        {{ error }}
    {% endfor %}
</div>
{% endif %}
    <form method="post" novalidate>
        {% csrf_token %}
        {% bootstrap_form_errors form layout='inline' %}
        {% bootstrap_form form layout=inline %}

        {% bootstrap_button button_type="submit" content="Submit" %}
        {% bootstrap_button button_type="reset" content="Cancel" %}
    </form>


{% endblock %}