{% extends 'base.html' %}

{% load bootstrap5 %}

{% block title %}
Record the followng Action performed on behalf of: {{action.client}}
{% endblock %}

{% block content %}

<strong>Action Date:</strong> {{ action.action_date }}<br>
<strong>Action Type:</strong> {{ action.action_type }}<br>
<strong>Action Outcome: </strong>{{ action.action_outcome }}<br>
<strong>Action Initiated By:</strong> {{ action.action_init_by }}<br>
<strong>Follow Up Period: </strong>{{ action.action_follow_up_period }}<br>
<strong>Follow Up Date: </strong>{{ action.action_follow_up_date }}<br>
<strong>Reason Code: </strong>{{ action.action_reason_code }}<br>
<strong>Notes:</strong> {{ action.action_notes }}<br>
<strong>Client: </strong>{{ action.client }}<br>

{% if action_tickets %}
    <h3>Tickets associated with this Action</h3>
    <ul>
        {% for ticket in action_tickets %}
            <li>
                Ticket ID: {{ ticket.id }} - Created on: {{ ticket.ticket_create_date }} - Status: {% if ticket.ticket_open %} Open {% else %} Closed {% endif %} - <a href="/client/ticket/{{ticket.id}}">Details</a>
            </li>
        {% endfor %}
    </ul>
{% else %}
    <p>No tickets associated with this action.</p>
{% endif %}

<a href="/client/update_action/{{action.id}}" class="btn btn-info" role="button">Update Action</a> 

{% if not action.ticket_for_action.exists %}
<a href="/client/add_ticket/{{action.id}}" class="btn btn-primary" role="button">Open Ticket</a> 
{% else %}
<a href="#" class="btn btn-primary disabled" tabindex="-1" aria-disabled="true" role="button">Open Ticket</a> 
{% endif %}

{% endblock %}