{% extends 'base.html' %}
{% load bootstrap5 %}
{% load static %}

{% block title %}
    {%if client_form.instance.pk %}
        Update Client: {{client_form.instance}}
    {% else %}
        Create Client
    {% endif %}
{% endblock %}

{% block content %}
{% if form.non_field_errors %}
<div class="alert alert-danger" role="alert">
    {% for error in client_form.non_field_errors %}
        {{ error }}
    {% endfor %}
</div>
{% endif %}
<form method="post">
    {% csrf_token %}
    <h3>Contact Details</h3>
      {% bootstrap_form form layout=inline %} 
    <h3>Additional Contacts</h3>
{{ formset.management_form }}
<div id="form-container">
    {% for form in formset %}
        <div class="form-row">
            <h5>Contact:</h5><hr/>
            {% bootstrap_form form %}
        </div>
    {% endfor %}
</div>
    <button type="button" class="btn btn-secondary" id="add-form">Add Another Number</button>
  
    <button type="submit" class="btn btn-primary">Save Contact</button>
</form>

{% bootstrap_javascript %}
<script src="{% static 'js/copy_to_mail_address.js' %}"></script>
<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>
<script src="{% static 'js/formset_handler.js' %}"></script>
{% endblock %}