{% extends 'base.html' %}
{% load bootstrap5 %}
{% load static %}

{% block title %}
    {%if client_form.instance.pk %}
        Update Client: {{client_form.instance}}
    {% else %}
        Create Client
    {% endif %}
{% endblock %}



{% block content %}

    {%if client_form.instance.pk %}
        <h1>>Update Client: {{client_form.instance}}</h1>
    {% else %}
        <h1>Create Client</h1>
    {% endif %}


{% if form.non_field_errors %}
<div class="alert alert-danger" role="alert">
    {% for error in client_form.non_field_errors %}
        {{ error }}
    {% endfor %}
</div>
{% endif %}
<form method="post">
    {% csrf_token %}
    {% bootstrap_form_errors form %}
    <h3>Client Details</h3>
    {% bootstrap_form_errors form layout='inline' %}
      {% bootstrap_form form layout=inline show_help='True' %} 
    <h3>Additional Contacts</h3>
{{ formset.management_form }}
<div id="form-container">
    <div class="border border-primary rounded p-3">
    {% for form in formset %}
    
        <div class="form-row">
            <h5>Contact:</h5><hr/>
            {% bootstrap_form form %}
        </div>
        
    {% endfor %}
<button type="button" class="btn btn-secondary" id="add-form">Add Another Contact</button>
        </div>
</div>
  
    <button type="submit" class="btn btn-primary">Save Client</button>
</form>

{% bootstrap_javascript %}
<script src="{% static 'js/copy_to_mail_address.js' %}"></script>
<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>
<script src="{% static 'js/formset_handler.js' %}"></script>
{% endblock %}