{% extends 'base.html' %}
{% load django_bootstrap5 %}
{% load static %}


{% block title %}
    {%if form.instance.pk %}
        Edit an Update for {{goal}}
    {% else %}
       Add New Update for {{goal}}
    {% endif %}
{% endblock %}


{% block content %}

{%if form.instance.pk %}
    <h1>Edit an Update for {{goal}}</h1>
{% else %}
    <h1>Add New Update for {{goal}}</h1>
{% endif %}



{% if form.non_field_errors %}
<div class="alert alert-danger" role="alert">
    {% for error in form.non_field_errors %}
        {{ error }}
    {% endfor %}
</div>
{% endif %}
<form method="post" novalidate>
    {% csrf_token %}
    {{form.goal}}
    {% bootstrap_form_errors form layout='inline' %}
    {% bootstrap_form form layout=inline %}
  
    <button type="submit" class="btn btn-primary">Save Goal</button> <a href="{{ previous_url }}" class="btn btn-secondary">Cancel</a>
</form>
{% endblock %}