{% extends 'base.html' %}
{% load bootstrap5 %}
{% load static %}

{% block title %}
    Ticket For {{action}}
{% endblock %}

{% block content %}
{% if form.non_field_errors %}
    <div class="alert alert-danger" role="alert">
        {% for error in form.non_field_errors %}
            {{ error }}
        {% endfor %}
    </div>
{% endif %}
<form method="post">
    {% csrf_token %}
    {% bootstrap_form form layout=inline %}
  {{ formset.management_form }}
    <div id="form-container">
        {% for form in formset %}
            <div class="form-row">
                {% bootstrap_form form %}
            </div>
        {% endfor %}
    </div>

    <button type="submit" class="btn btn-primary">Save Ticket</button>
</form>
{% endblock %}