
{% extends 'base.html' %}

{% load bootstrap5 %}

{% block title %}
Client Profile: {{client}}
{% endblock %}

{% block content %}

Name: {{client.first_name}} {{client.last_name}}</br>
email: {{client.email}}</br>
<p>


<h4>Current Goals for this Client</h4>
{% if client_goals %}
    <ul>
        {% for goal in client_goals %}
            <li>
                {{ goal.goal_name }} Due {{goal.goal_target_date}} Which is in {{goal.days_to_go}} Days <a href="/client/add_goal_update/{{goal.id}}">Update this Goal</a>
                    {% if goal.updates %}
                        <ul>
                        {% for update in goal.updates %}
                            <li>{{ update.g_update_date }}: {{ update.g_status_update }}</li>
                        {% endfor %}
                        </ul>
                    {% endif %}
            </li>
        {% endfor %}
    </ul>
{% else %}
    <p>{{ client.fist_name }} has no goal.</p>
{% endif %}

    <a href="{% url 'list_clients' %}" class="btn btn-info" role="button">List</a>  <a href="/client/update_client/{{client.id}}" class="btn btn-info" role="button">Update Client</a> 
    <a href="/client/add_goal/{{client.id}}" class="btn btn-info" role="button">Add Goal</a>
{% endblock %}