{% extends 'base.html' %}
{% load bootstrap5 %}

{% block title %}
Listing Actions
{% endblock %}

{% block content %}


<script type="text/javascript" class="init">
        $(document).ready(function() {
            $('#myTable').DataTable();
        });
</script>

<table id="myTable" class="display">  
    <thead>
    <tr>
        <th>Action Date</th>
        <th>Client</th>
        <th>Type</th>
        <th>Reason</th>
        <th colspan="2">Action</th>
    </tr>
    </thead>
{% for action in actions %}
<tr>
    <td>{{action.action_date}}</td>
    <td>{{action.client}}</td>
    <td>{{action.get_action_type_display}}</td>
    <td>{{action.action_reason_code}}</td>
    <td><a href='/client/action_detail/{{action.id}}'>View</a></td>
    <td><a href='/client/update_action/{{action.id}}'>Edit</a></td>    
</tr>
{% endfor %}
</table>

<a href='/client/add_action/'>Add New</a>
{% endblock %}