{% extends 'base.html' %}

{% load django_bootstrap5 %}
{% load static %}

{% block title %}
Add a Status Update for {{equipment}}
{% endblock %}

{% block content %}
{% if form.non_field_errors %}
<div class="alert alert-danger" role="alert">
    {% for error in form.non_field_errors %}
        {{ error }}
    {% endfor %}
</div>
{% endif %}
<form method="post">
    {% csrf_token %}
    {{form.equipment}}
    <div class="mb-3">
        {{ form.status_date.label_tag }}
        {% bootstrap_field form.status_date show_label=False %}
    </div>

    <div class="mb-3">
        {{ form.status.label_tag }}
        {% bootstrap_field form.status show_label=False %}
        <div class="form-text text-muted">
            This is custom help text.
        </div>
    </div>

    <div class="mb-3" id="client-field-container">
        {{ form.client.label_tag }}
        {% bootstrap_field form.client show_label=False %}
        </p>
    </div>
  
    <button type="submit" class="btn btn-primary">Save Equipment</button>
</form>

<script>
    document.addEventListener('DOMContentLoaded', function() {
        const statusSelect = document.getElementById('id_status');
        const clientFieldContainer = document.getElementById('client-field-container');
        const clientSelect = document.getElementById('id_client');

        // Function to toggle the visibility and state of the client field
        function toggleClientField() {
            if (statusSelect.value === 'CLIENT') {
                clientFieldContainer.style.display = 'block';
                clientSelect.disabled = false; // Enable the field
            } else {
                clientFieldContainer.style.display = 'none';
                clientSelect.disabled = true; // Disable the field
                if (statusSelect.value !== 'Return') {
                    clientSelect.value = '';
                }
            }
        }

        // Run on initial page load
        toggleClientField();

        // Add event listener
        statusSelect.addEventListener('change', toggleClientField);
    });
</script>

{% endblock %}