{% extends 'base.html' %}
{% load django_bootstrap5 %}
{% load static %}

{% block title %}
    Details for {{eq}}
{% endblock %}

{% block content %}
<h1>Details for {{eq}}</h1>


<strong>Name</strong>: {{eq.eq_name}}</br>
<strong>Type:</strong> {{eq.eq_type}}</br>
<strong>Value:</strong> ${{eq.eq_value}}</br>
    {% if eq.eq_serial_number %}
        <strong>Number:</strong> {{eq.eq_serial_number}}</br>
    {% endif %}
    {% if eq.eq_funding_source %}
        <strong>Funding Source:</strong> {{eq.eq_funding_source}}</br>
    {% endif %}
    {% if eq.eq_owner %}
        <strong>Owner:</strong> {{eq.eq_owner}}</br>
    {% endif %}
    {% if eq.eq_client %}
        <strong>Client Owner:</strong> {{eq.eq_client.first_name}} {{eq.eq_client.last_name}}</br>
    {% endif %}
    {% if eq.eq_date %}
       <strong> Date Acquired:</strong> {{eq.eq_date}}</br>
    {% endif %}
    {% if eq.eq_notes %}
        <strong>Notes:</strong> {{eq.eq_notes}}</br>
    {% endif %}
    <h3>Status History</h3>
    {% if status_updates %}
        <ul>
            {% for status_update in status_updates %}
                <li>
                    <strong>Date:</strong> {{ status_update.status_date }} -
                    <strong>Status:</strong> {{ status_update.get_status_display }}
                    {% if status_update.client %}
                        <strong>{{status_update.client}}</strong>
                        {% endif %}
                </li>
            {% endfor %}
        </ul>
    {% endif %}

    <a href="{% url 'list_equipment' %}" class="btn btn-info" role="button">List</a>  <a href="{% url 'update_equipment' eq.pk %}" class="btn btn-info" role="button">Edit</a> <a href="/equipment/create_eq_status/{{ eq.pk }}" class="btn btn-info" role="button">Add History</a>
</p>

{% endblock %}